@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-decoration: none;
}

:root {
    --background-color: #00030C;
    --font-color: #FFFFFF;
    --secondary-color: #167BF7;
}

main {
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
    color: var(--font-color);
}

.main__container {
    height: 100vh;
}

.main__section1 {
    display: grid;
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    grid-template-columns: 30% 70%;
}

.main__section1__div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 120px 0px 0px 60px;
    gap: 25px;
}

.main__section1__h2 {
    font-size: 1.5em;
    font-weight: 700;
}

.main__section1__combo {
    width: 60%;
}

.main__section1__button1 {
    padding: 15px 0px;
    width: 90%;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.main__section1__button2 {
    padding: 15px 0px;
    width: 90%;
    background-color: none;
    border-color: var(--font-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.main__section1__obs {
    font-size: 0.5em;
}

.main__section2 {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 50px 12%;
    gap: 6%;
}

.main__section2__img {
    width: 50%;
}

.main__section2__h2 {
    font-size: 3.5em;
}

.main__section2__p {
    font-size: 1em;
}

.main__section2__button {
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}

.main__section2__div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main__section3 {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 50px 15%;
    gap: 6%;
}

.main__section3__title {
    margin-top: 250px;
    text-align: center;
    font-size: 3.5em;
    font-weight: 700;
}

.main__section3__div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__section3__div__p {
    font-size: 1.75em;
    font-weight: 700;
}

footer {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--background-color);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.footer__nav {
    display: flex;
    gap: 25px;
}

.footer__nav__p {
    font-size: 1em;
    color: var(--font-color);
    font-family: 'Inter', sans-serif;
    
}

.footer__p {
    font-family: 'Inter', sans-serif;
    font-size: 0.75em;
    color: #C0C0C0;
    text-align: center;
}